pre, code {
  // Use system fonts where possible
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code.inline {
  background-color: rgb(250,250,250);
}

pre {
  padding-left: 20px;
}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none;
}

table.sourceCode {
  width: 100%; line-height: 100%;
}

td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
span.kw { color: #af005f; } /* Keyword */
span.dt { color: #5f5faf; } /* DataType */
span.dv { color: #268bd2; } /* DecVal */
span.bn { color: #268bd2; } /* BaseN */
span.fl { color: #268bd2; } /* Float */
span.ch { color: #cb4b16; } /* Char */
span.st { color: #cb4b16; } /* String */
span.co { color: #8a8a8a; } /* Comment */
span.ot { color: #007020; } /* Other */
span.al { color: #ff0000; } /* Alert */
span.fu { color: #666666; } /* Function */
span.er { color: #ff0000; } /* Error */
span.wa { color: #60a0b0; } /* Warning */
span.cn { color: #880000; } /* Constant */
span.sc { color: #4070a0; } /* SpecialChar */
span.vs { color: #4070a0; } /* VerbatimString */
span.ss { color: #2aa198; } /* SpecialString */
span.im { } /* Import */
span.va { color: #073642; } /* Variable */
span.cf { color: #007020; } /* ControlFlow */
span.op { color: #d33682; } /* Operator */
span.bu { } /* BuiltIn */
span.ex { } /* Extension */
span.pp { color: #bc7a00; } /* Preprocessor */
span.at { color: #7d9029; } /* Attribute */
span.do { color: #ba2121; } /* Documentation */
span.an { color: #60a0b0; } /* Annotation */
span.cv { color: #60a0b0; } /* CommentVar */
