@import "normalize";

@import "./base.scss";
@import "./code.scss";
@import "./nav.scss";

* { box-sizing: border-box; }

body {
  // Use system fonts where possible
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
               "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  // Ensure we're using the default size for those insane people
  background: #fff;
  color: #000;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  margin: 0.5em 0px;
  &:first-child { margin-top: 0px; }
  &:last-child { margin-bottom: 0px; }
}

blockquote {
  border: 2px solid $light-blue;
  padding: 0.8em;
  border-radius: 0.4em;
}

.page-container {
  max-width: $page-width;
  margin: 0px auto;
  padding: 0 10px;
}

header {
  padding: 30px 0px;

  .header-logo {
    width: 50%;

    .tagline {
      color: $dark-grey;
      font-size: 1.2em;
    }
  }

  @media(max-width: 1000px) {
    .header-logo { margin: 0 auto; }
  }

  @media(max-width: 400px) {
    .header-logo { width: 100%; }
  }

}

.contrasted {
  background: $dark-blue;
  color: #fff;

  padding: 20px 0;
}

.annotated-example {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .highlight {
    font-size: 1.2em;
    white-space: pre-wrap; // It's going to look terrible whatever

    @media(max-width: 600px) {
      & { font-size: 0.8em; }
    }
  }
}

.example {
  tr:hover {
    background: #f0f0f0;
    .code-td { background: #e0e0e0; }
  }
  .explanation {
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
    vertical-align: baseline;
  }

  .code-td {
    width: 50%;
    background: #eee;
    border-left: solid 2px #aaa;
    vertical-align: baseline;
  }
}
