@import "./base.scss";

nav {
  $nav-height: 50px;
  height: $nav-height;
  background: $dark-blue;
  color: #fff;
  font-size: 1.1em;

  a { text-decoration: none; }
  @include link(#fff, #fff);
  @include link-bg($dark-blue, darken($dark-blue, 5%));

  .nav-icon { height: $nav-height - 10px; }

  .nav-left { float: left; }
  .nav-right { float: right; }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: $nav-height;
  }

  li {
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
    float: left;

    > a {
      height: $nav-height;
      padding: 0px 0.7em;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }
  }
}
