<blockquote class=new>
  <p>
    This is part of <a href="/tutorials/">a series</a> of tutorials about
    the Amulet programming language. If you do not yet have an Amulet
    compiler, please refer to
    <a href=/tutorials/00-installing.html">the installation instructions</a>.
  </p>
</blockquote>

$body$

<blockquote class=""new">
  $if(next)$
    <p>
      Congratulations! You've reached the end of this tutorial. You can
      find the next one <a href="$next$">here</a>!
    </p>
  $else$
    <p>
      Congratulations! You've finished all of the tutorials available.
      Thank you for the attention and I hope you enjoy using Amulet!
    </p>
  $endif$
</blockquote>
